.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  height: 100%;
}

.loginButton{
  width: 328px;
  height: 40px;
  background-color: #00BC38;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #00BC38;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #00BC38;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #00BC38;
}

mat-label{
  font-family: 'Quicksand';
}
.loginInput{
  width: 328px;
  font-family: 'Quicksand';
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5em;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 4%;
  font-family: 'Quicksand';
}

.login img {
  width: 50%;
  height: 15%;
  display: block;
  margin: auto;
}

.login mat-form-field {
  margin-bottom: 15px;
}

.login button {
  display: block;
  text-align: center;
  margin: auto;
}

.example-full-width {
  width: 80%;
}

.message_create {
  text-align: center;
  color: #E43B03;
  margin-bottom: 23px;
}
