<div class="body">
  <div class="login">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="NickName" type="text" placeholder="NickName" ngModel #NickNameInput="ngModel">
        <mat-error *ngIf="NickNameInput.invalid">Por favor ingrese un nombre de NickName valido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="Password"  matInput placeholder="Contraseña" ngModel #PasswordInput="ngModel"
          required>
        <mat-error *ngIf="PasswordInput.invalid">Por favor ingrese una contraseña valida</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading" [disabled]="this.error">Login</button>
    </form>
  </div>
</div>