<div class="body">
  <div class="login">
    <img src="../../../../assets/logo.png" width="311" height="126" alt="">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <p>
      <mat-form-field appearance="outline" class="loginInput">
        <mat-label>Usuario</mat-label>
        <input  matInput name="NickName" type="text" placeholder="Usuario" ngModel #NickNameInput="ngModel" >
        <mat-error *ngIf="NickNameInput.invalid">Por favor ingrese un nombre de NickName valido</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="loginInput">
        <mat-label>Contraseña</mat-label>
        <input  type="password" name="Password"  matInput placeholder="Contraseña" ngModel #PasswordInput="ngModel"
          required>
        <mat-error *ngIf="PasswordInput.invalid">Por favor ingrese una contraseña valida</mat-error>
      </mat-form-field>
    </p>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading" [disabled]="this.error" class="loginButton" autofocus>INGRESAR</button>
    </form>
  </div>
</div>
