<div class="container">
  <h2 class="title">Tipo Telefono</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input
        matInput
        type="number"
        placeholder="Descripción"
        class="phone_number"
        [(ngModel)]="descripcion"
      />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Telefono creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoTelefonoPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar">Crear Telefono</button>
  </div>
</div>
