<div class="container">
  <h2 class="title">Tipo IVA</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripcion</mat-label>
      <input matInput name="name" [(ngModel)]="Descripcion" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Descripcion Breve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">IVA creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoIVAPage()" style="color: #FF171F; box-shadow: 0px 16px 24px rgba(255, 23, 31, 0.13), 0px 6px 12px rgba(54, 123, 245, 0.16);">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()">Crear IVA</button>
  </div>
</div>
