<div class="container">
  <h2 class="title">Tipo Familia Producto</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="descripcion" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Descripción Breve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Unidades Fijas por Pallet</mat-label>
      <input matInput type="number" name="name" [(ngModel)]="unidadesFijasPallet" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Porcentaje Relacion Pallet</mat-label>
      <input matInput  type="number" name="name" [(ngModel)]="porcRelacionPallet" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Familia de Producto actualizada con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoFamiliasPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()" id="aplicar">Editar Familia</button>
  </div>
</div>
