<div class="container">
  <h2 class="title" style="padding-left: 5%;">Productos</h2>
  <div class="container-child">
    <mat-form-field >
      <mat-label class="title" >Tipo Producto</mat-label>
      <mat-select [(ngModel)]="idTipoProducto" name="food" tabindex="1" >
        <mat-option *ngFor="let id of listaIdTipoProducto" [value]="id.idTipoProducto" >
          {{id.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field >
      <mat-label class="title">Tipo Familia Producto</mat-label>
      <mat-select [(ngModel)]="idTipoFamiliaProducto" name="food" tabindex="2">
        <mat-option *ngFor="let id of listaTipoFamiliaProducto" [value]="id.idTipoFamiliaProducto">
          {{id.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="descripcion" tabindex="3"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Codigo</mat-label>
      <input matInput name="name" [(ngModel)]="codigo" tabindex="4"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Unidades Fijas Pallet</mat-label>
      <input matInput name="name" [(ngModel)]="unidadesFijasPallet" tabindex="5"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Porcentaje Relacion Pallet</mat-label>
      <input matInput  type="number" name="name" [(ngModel)]="porcRelacionPallet" tabindex="6"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Precio de Referencia</mat-label>
      <input matInput name="name" [(ngModel)]="precioReferencia"  type="number" tabindex="7"/>
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Producto creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarProductosPage()" id="button_cancelar" tabindex="9">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar" tabindex="8">Crear Producto</button>
  </div>
</div>
