<div class="container">
  <h2 class="title">Grupo Acceso Permiso</h2>
  <div class="container-child">
    <mat-form-field appearance="outline">
      <mat-label>ID Grupo Acceso</mat-label>
      <mat-select [(ngModel)]="idGrupoAcceso" name="food">
        <mat-option *ngFor="let acceso of accesosLista" [value]="acceso.idGrupoAcceso">
          {{acceso.Descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID Tipo Permiso</mat-label>
      <mat-select [(ngModel)]="idTipoPermiso" name="food">
        <mat-option *ngFor="let permiso of tipoPermisoLista" [value]="permiso.idTipoPermiso">
          {{permiso.Descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-template [ngIf]="creado">
      <div class="message_create">Acceso Permiso actualizado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarAccesosPermisoPage()" style="color: #FF171F; box-shadow: 0px 16px 24px rgba(255, 23, 31, 0.13), 0px 6px 12px rgba(54, 123, 245, 0.16);">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()">Editar Acceso Permiso</button>
  </div>
</div>
