
<div class="tabla-completa !tw-pt-8">
  <div class="tw-ml-8 tw-my-5 tw-bg-white tw-border tw-rounded-md tw-border-bone">
    <div class="tw-px-8 tw-my-6">
      <div class="tw-grid tw-grid-cols-7 tw-grid-rows-1">
        <h2 class="tw-font-bold tw-text-2xl tw-leading-6 tw-col-span-4 tw-self-center">Pedido N° {{ id }}</h2>
        <div class="tw-flex tw-justify-center tw-items-center tw-col-span-3 tw-text-right">
          <p class="tw-w-2/3 tw-leading-4 tw-text-base tw-font-semibold">{{ fechaGraba | date: 'dd/MM/YYYY' }}</p>
          <p class="tw-w-1/3 tw-leading-4 tw-text-base tw-font-bold">Nº {{ num_interno }}</p>
        </div>
      </div>
      <div class="tw-mt-5 tw-grid tw-grid-cols-7 tw-grid-rows-2">
          <p class="tw-my-2 tw-col-span-3 tw-text-base tw-leading-6 tw-font-bold tw-text-left">{{ representante }}</p>
          <p class="tw-my-2 tw-col-span-2 tw-text-base tw-leading-4 tw-font-semibold tw-text-center">COD. {{ cod }}</p>
          <p class="tw-my-2 tw-col-span-2 tw-text-base tw-leading-4 tw-font-semibold tw-text-right">CUIT: {{ cuit }}</p>
          <p class="tw-my-2 tw-col-span-3 tw-text-base tw-leading-6 tw-font-bold tw-text-left">{{ domicilio }}</p>
          <p class="tw-my-2 tw-col-span-2 tw-text-base tw-leading-4 tw-font-semibold tw-text-center">Tel: {{ telefono }}</p>
          <p class="tw-my-2 tw-col-span-2 tw-text-base tw-leading-4 tw-font-semibold tw-text-right">{{ transporte }}</p>
      </div>
    </div>
  </div>
  <div class="tw-ml-8 tw-bg-bone">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="codigo">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo ? row.codigo : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let row">{{ row.precio ? row.precio : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Cant</th>
        <td mat-cell *matCellDef="let row">{{ row.cantidad ? row.cantidad : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="unidades_bulto">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>U. x Bulto</th>
        <td mat-cell *matCellDef="let row">{{ row.unidades_bulto ? row.unidades_bulto : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="pallets">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Pallets</th>
        <td mat-cell *matCellDef="let row">{{ row.pallets ? row.pallets : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="condicion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Condición</th>
        <td mat-cell *matCellDef="let row">{{ row.condicion ? row.condicion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.total ? row.total : '-' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsProductoPedido">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsProductoPedido">
      </tr>
    </table>
  </div>
  <div class="tw-px-8 tw-pb-1 tw-mt-1 tw-grid tw-grid-cols-3">
    <div class="tw-col-span-2 tw-mt-[1.4rem]">
      <div class="tw-flex tw-justify-start tw-items-center">
        <h2 class="tw-text-sm tw-leading-6 tw-font-medium">OBSERVACIONES</h2>
        <img class="tw-mx-6" src="assets/eye.png" alt="">
      </div>
      <p class="tw-w-[400px] tw-py-4 tw-text-sm tw-leading-[14px] tw-font-normal">
        Quis ex vehicula, Morbi fringilla In massa vel ac eget amet, tincidunt risus eu consectetur Vestibulum In convallis. non.
      </p>
    </div>
    <div class="tw-bg-white tw-flex tw-justify-center tw-items-center tw-w-80 tw-h-16 tw-col-span-1 tw-border tw-rounded-md tw-border-bone">
      <span class="tw-text-xl tw-leading-6 tw-font-bold">TOTAL FINAL {{ total | currency}}</span>
    </div>
  </div>
  <div class="tw-px-8 tw-pb-6 tw-flex tw-justify-end tw-items-center">
    <button
      class="tw-mx-1 !tw-w-52 !tw-h-14 custom-btn tw-text-base tw-tracking-{15px} tw-shadow-succ tw-text-succes hover:tw-bg-succes disabled:tw-cursor-not-allowed disabled:tw-bg-bone disabled:tw-text-succes"
      id="agregar"
      (click)="goToEditarDetallePedidoPage()">
        Editar pedido
    </button>
  </div>
</div>
