<div class="container">
  <h2 class="title" style="padding-left: 5%;">Localidades</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label>ID Provincia</mat-label>
      <mat-select [(ngModel)]="idProvincia">
        <mat-option *ngFor="let provincia of provinciasLista" [value]="provincia.idProvincia">
          {{provincia.Descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="Descripcion" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">DescBreve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">CodigoPostal</mat-label>
      <input matInput name="name" [(ngModel)]="CodigoPostal" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Localidad actualizada con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarLocalidadesPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()" id="aplicar">Editar Localidad</button>
  </div>
</div>
