<div class="tabla-completa !tw-bg-white">
  <div class="tw-ml-8 tw-flex tw-justify-between tw-items-center">
    <div>
        <h2 class="tw-text-1xl tw-font-light tw-leading-6">Editar pedido</h2>
    </div>
    <div>
      <button
        class="tw-mx-1 custom-btn tw-text-base tw-tracking-{15px} tw-shadow-warn tw-text-warning hover:tw-bg-warning"
        id="agregar"
        (click)="cancelOrder()">
          Cancelar
      </button>
      <button
        class="tw-mx-1 custom-btn tw-text-base tw-tracking-{15px} tw-shadow-succ tw-text-succes hover:tw-bg-succes disabled:tw-cursor-not-allowed disabled:tw-bg-bone disabled:tw-text-succes"
        id="agregar"
        [disabled]="orderForm.invalid"
        (click)="saveOrder()">
          Guardar
      </button>
    </div>
  </div>
  <div class="tw-ml-8 tw-my-5 tw-bg-white tw-border tw-rounded-md tw-border-bone">
    <div class="tw-px-8 tw-my-3">
      <form [formGroup]="orderForm" class="tw-grid tw-grid-cols-7 tw-grid-rows-1">
        <h2 class="tw-pb-6 tw-px-1 tw-font-bold tw-text-2xl tw-leading-6 tw-col-span-4 tw-self-center">Pedido N° {{ id === -1 ? '-' : id }}</h2>
        <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline" (click)="picker.open()">
            <mat-label>xx/xx/xxxx</mat-label>
            <input matInput [matDatepicker]="picker" [min]="today" formControlName="fechaGraba">
            <mat-datepicker #picker></mat-datepicker>
             <mat-error *ngIf="fechaGraba?.errors?.['required']">Requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-2" appearance="outline">
            <mat-label>N° Interno </mat-label>
            <input #firstInput matInput formControlName="num_interno"/>
             <mat-error *ngIf="num_interno?.errors?.['required']">Requerido</mat-error>
             <mat-error *ngIf="num_interno?.errors?.['maxlength']">Demasiados caracteres</mat-error>
             <mat-error *ngIf="num_interno?.errors?.['pattern']">Formato invalido</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-3" appearance="outline">
          <mat-label>Representante</mat-label>
          <input matInput formControlName="representante"/>
          <mat-error *ngIf="representante?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="representante?.errors?.['maxlength']">Demasiados caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-2" appearance="outline">
          <mat-label>COD.</mat-label>
          <input matInput formControlName="cod"/>
          <mat-error *ngIf="cod?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="cod?.errors?.['maxlength']">Demasiados caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-2" appearance="outline">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit" placeholder="12345678"/>
          <mat-error *ngIf="cuit?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="cuit?.errors?.['maxlength']">Demasiados caracteres</mat-error>
          <mat-error *ngIf="cuit?.errors?.['pattern']">Solo números</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-3" appearance="outline">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio"/>
          <mat-error *ngIf="domicilio?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="domicilio?.errors?.['maxlength']">Demasiados caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-2" appearance="outline">
          <mat-label>Tel.</mat-label>
          <input matInput formControlName="telefono"/>
          <mat-error *ngIf="telefono?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="telefono?.errors?.['maxlength']">Demasiados caracteres</mat-error>
          <mat-error *ngIf="telefono?.errors?.['pattern']">Formato invalido</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-1 tw-col-span-2" appearance="outline">
          <mat-label>Transporte</mat-label>
          <input matInput formControlName="transporte"/>
          <mat-error *ngIf="transporte?.errors?.['required']">Requerido</mat-error>
          <mat-error *ngIf="transporte?.errors?.['maxlength']">Demasiados caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="tw-col-span-7 tw-row-span-1" appearance="outline">
          <mat-label>Observaciones</mat-label>
          <input matInput formControlName="observaciones"/>
          <mat-error *ngIf="observaciones?.errors?.['maxlength']">Demasiados caracteres</mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="tw-px-8 tw-my-3" #productTable>
    <h2 class="tw-pb-1 tw-px-1 tw-font-bold tw-text-base tw-leading-6 tw-col-span-4 tw-self-center">Detalle Pedido</h2>
    <form [formGroup]="detailOrderForm" (ngSubmit)="addNewProduct()" class="tw-grid tw-grid-cols-5 tw-grid-rows-1">
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="category" #categorySelect>
          <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.idCategoriaProducto">
            {{categoria.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category?.errors?.['required']">Requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="product">
          <mat-option *ngFor="let producto of listaProductos" [value]="producto.id_producto">
            {{producto.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="product?.errors?.['required']">Requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="amount"/>
        <mat-error *ngIf="amount?.errors?.['required']">Requerido</mat-error>
        <mat-error *ngIf="amount?.errors?.['pattern']">Formato invalido</mat-error>
        <mat-error *ngIf="amount?.errors?.['maxlength']">Demasiados caracteres</mat-error>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Condición</mat-label>
        <input matInput formControlName="condition"/>
        <mat-error *ngIf="condition?.errors?.['required']">Requerido</mat-error>
        <mat-error *ngIf="condition?.errors?.['maxlength']">Demasiados caracteres</mat-error>
      </mat-form-field>
      <div class="tw-flex tw-justify-center tw-items-center">
        <button type="submit" class="tw-mb-5 tw-text-sm tw-leading-7 custom-btn tw-tracking-{15px} tw-shadow-succ tw-text-succes hover:tw-bg-succes disabled:tw-cursor-not-allowed disabled:tw-bg-bone disabled:tw-text-succes" [disabled]="detailOrderForm.invalid">
          Agregar producto
        </button>
      </div>
    </form>
  </div>
  <div class="tw-ml-8 tw-pb-8">
    <table mat-table [dataSource]="dataSourceProductoPedido" matSort>
      <ng-container matColumnDef="codigo">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo ? row.codigo : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let row">{{ row.precio ? row.precio : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Cant</th>
        <td mat-cell *matCellDef="let row">{{ row.cantidad ? row.cantidad : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="unidades_bulto">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>U. x Bulto</th>
        <td mat-cell *matCellDef="let row">{{ row.unidades_bulto ? row.unidades_bulto : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="pallets">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Pallets</th>
        <td mat-cell *matCellDef="let row">{{ row.pallets ? row.pallets : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="condicion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Condición</th>
        <td mat-cell *matCellDef="let row">{{ row.condicion ? row.condicion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.total ? row.total : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="editProductt(row)" class="icon-button" matTooltip="Editar">
              <img class="icon" src="assets/modificar-icon.png"/>
          </button>
          <button mat-icon-button  class="icon-button" (click)="eliminarElemento(row)" matTooltip="Eliminar">
            <img class="icon" src="assets/eliminar-icon.png"/>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell tw-text-center" [attr.colspan]="displayedColumnsProductoPedido.length">
          Todavía no hay productos agregados en tu pedido
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsProductoPedido">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsProductoPedido">
      </tr>
    </table>
    <span #scroll></span>
  </div>
</div>
