<div class="tabla-completa !tw-bg-white">
  <app-order-form [id]="id" (order)="onSend($event)"></app-order-form>
  <app-detail-order-form
    [categories]="listaCategoria"
    [products]="listaProductos"
    [editProduct]="editProductInput"
    (newProduct)="addProduct($event)">
  </app-detail-order-form>
  <div class="tw-ml-8 tw-pb-8">
    <table mat-table [dataSource]="dataSourceProductoPedido" matSort>
      <ng-container matColumnDef="codigo">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo ? row.codigo : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let row">{{ row.precioReferencia ? row.precioReferencia : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Cant</th>
        <td mat-cell *matCellDef="let row">{{ row.cantidad ? row.cantidad : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="unidades_bulto">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>U. x Bulto</th>
        <td mat-cell *matCellDef="let row">{{ row.unidadesFijasPallet ? row.unidadesFijasPallet : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="pallets">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Pallets</th>
        <td mat-cell *matCellDef="let row">{{ row.porcRelacionPallet ? row.porcRelacionPallet : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="condicion">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Condición</th>
        <td mat-cell *matCellDef="let row">{{ row.condicion ? row.condicion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.total ? row.total : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="custom-table-header-style" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="editProduct(row)" class="icon-button" matTooltip="Editar">
              <img class="icon" src="assets/modificar-icon.png"/>
          </button>
          <button mat-icon-button  class="icon-button" (click)="eliminarElemento(row)" matTooltip="Eliminar">
            <img class="icon" src="assets/eliminar-icon.png"/>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell tw-text-center" [attr.colspan]="displayedColumnsProductoPedido.length">
          Todavía no hay productos agregados en tu pedido
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsProductoPedido">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsProductoPedido">
      </tr>
    </table>
    <span #scroll></span>
  </div>
</div>














<!-- <div class="container">
  <h2 class="title" style="padding-left:5%">Detalle Pedido</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label>ID Pedido</mat-label>
      <mat-select [(ngModel)]="idPedido" name="food">
        <mat-option *ngFor="let pedido of pedidosLista" [value]="pedido.idPedido">
          {{pedido.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Cantidad</mat-label>
      <input
        matInput
        type="number"
        placeholder="cantidad"
        class="phone_number"
        [(ngModel)]="cantidad"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Detalle</mat-label>
      <input matInput name="name" [(ngModel)]="detalle" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Porcentaje Descuento Item</mat-label>
      <input
        matInput
        type="number"
        placeholder="Porcentaje Descuento Item"
        class="phone_number"
        [(ngModel)]="porcDescuentoItem"precioUnitario
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Precio Unitario</mat-label>
      <input
        matInput
        type="number"
        placeholder="precioUnitario"
        class="phone_number"
        [(ngModel)]="precioUnitario"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Importe</mat-label>
      <input
        matInput
        type="number"
        placeholder="importe"
        class="phone_number"
        [(ngModel)]="importe"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Entregado?</mat-label>
      <input
        matInput
        type="number"
        placeholder="isEntregadoItem"
        class="phone_number"
        [(ngModel)]="isEntregadoItem"
      />
    </mat-form-field>

    <ng-template [ngIf]="creado">
      <div class="message_create">Detalle Pedido actualizado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarDetallePedidoPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()" id="aplicar">Editar Detalle Pedido</button>
  </div>
</div> -->
