<div class="container">
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripcion</mat-label>
      <input matInput name="name" [(ngModel)]="descripcion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="title">Descripcion Breve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>
 
    <button mat-raised-button color="warn" (click)="onEdit()">Editar Producto</button>

    <ng-template [ngIf]="creado">
      <div class="message_create">Producto actualizado con exito</div>
    </ng-template>
  </div>
</div>
