<div class="tw-ml-8 tw-my-5 tw-bg-white tw-border tw-rounded-md tw-border-bone">
  <div class="tw-px-8 tw-my-3">
    <h2 class="tw-pb-1 tw-px-1 tw-font-bold tw-text-base tw-leading-6 tw-col-span-4 tw-self-center">Buscar por</h2>
    <form action="" class="tw-grid tw-grid-cols-5 tw-grid-rows-1">
      <!-- <mat-form-field class="tw-px-1 tw-col-span-1">
        <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Filter">
      </mat-form-field> -->
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline" (click)="picker.open()">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="searchFilter.searchDate" (dateChange)="searchTest()">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Representante</mat-label>
        <input matInput name="agent" [(ngModel)]="searchFilter.searchAgent" (keyup)="searchTest()"/>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>Condición</mat-label>
        <input #firstInput matInput name="condition" [(ngModel)]="searchFilter.searchCondition" (keyup)="searchTest()"/>
      </mat-form-field>
      <mat-form-field class="tw-px-1 tw-col-span-1" appearance="outline">
        <mat-label>N° Interno</mat-label>
        <input #firstInput matInput name="internalNumber" [(ngModel)]="searchFilter.searchInternNumber" (keyup)="searchTest()"/>
      </mat-form-field>
      <div class="tw-flex tw-justify-center tw-items-center">
        <button class="tw-pb-5 tw-text-sm tw-leading-6 tw-font-bold" (click)="cleanSearch()">Limpiar filtros</button>
      </div>
    </form>
  </div>
</div>
