<div class="container">
  <h2 class="title" style="padding-left: 5%;">Clientes</h2>
  <div class="container-child">
    <div class="caja1">
      <mat-form-field>
        <mat-label style="padding-left:10px;">Tipo Cliente</mat-label>
        <mat-select [(ngModel)]="idTipoCliente" name="food">
          <mat-option *ngFor="let cliente of tipoClienteLista" [value]="cliente.idTipoCliente">
            {{cliente.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">Tipo Canal</mat-label>
        <mat-select [(ngModel)]="idTipoCanal" name="food">
          <mat-option *ngFor="let canal of tipoCanalLista" [value]="canal.idTipoCanal">
            {{canal.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">Razon Social</mat-label>
        <mat-select [(ngModel)]="razonSocial" name="food">
          <mat-option *ngFor="let empresa of empresasLista" [value]="empresa.RazonSocial">
            {{empresa.RazonSocial}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Nombre Fantasia</mat-label>
        <input matInput name="name" [(ngModel)]="nombreFantasia" />
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">Tipo IVA</mat-label>
        <mat-select [(ngModel)]="idTipoIVA" name="food">
          <mat-option *ngFor="let iva of ivasLista" [value]="iva.idTipoIVA">
            {{iva.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">CUIT</mat-label>
        <mat-select [(ngModel)]="CUIT" name="food">
          <mat-option *ngFor="let empresa of empresasLista" [value]="empresa.CUIT">
            {{empresa.CUIT}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Score</mat-label>
        <input matInput name="name" [(ngModel)]="score" />
      </mat-form-field>


    </div>

    <div class="caja2">

      <mat-form-field>
        <mat-label class="title">Años de Actividad</mat-label>
        <input matInput name="name" [(ngModel)]="aniosActividad" />
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">ID Vendedor Asignado</mat-label>
        <mat-select [(ngModel)]="idVendedorAsignado" name="food">
          <mat-option *ngFor="let vendedor of vendedoresLista" [value]="vendedor.idVendedor">
            {{vendedor.NickName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Calle</mat-label>
        <input matInput name="name" [(ngModel)]="calle" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Calle 1</mat-label>
        <input matInput name="name" [(ngModel)]="calle1" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Calle 2</mat-label>
        <input matInput name="name" [(ngModel)]="calle2" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Nro Puerta</mat-label>
        <input matInput name="name" [(ngModel)]="nroPuerta" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Piso</mat-label>
        <input matInput name="name" [(ngModel)]="piso" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Dpto</mat-label>
        <input matInput name="name" [(ngModel)]="dpto" />
      </mat-form-field>
    </div>

    <div class="caja3">
      <mat-form-field>
        <mat-label style="padding-left:10px;">Provincia</mat-label>
        <mat-select [(ngModel)]="idProvincia" name="food">
          <mat-option *ngFor="let provincia of provinciasLista" [value]="provincia.Descripcion">
            {{provincia.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">Localidad</mat-label>
        <mat-select [(ngModel)]="idLocalidad" name="food">
          <mat-option *ngFor="let localidad of localidadesLista" [value]="localidad.idLocalidad">
            {{localidad.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label style="padding-left:10px;">Codigo Postal</mat-label>
        <mat-select [(ngModel)]="CP" name="food">
          <mat-option *ngFor="let localidad of localidadesLista" [value]="localidad.CodigoPostal">
            {{localidad.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Horario Atencion</mat-label>
        <input matInput name="name" [(ngModel)]="horarioAtencion" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Horario Cobranza</mat-label>
        <input matInput name="name" [(ngModel)]="horarioCobranza" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Web</mat-label>
        <input matInput name="name" [(ngModel)]="web" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="title">Monto Credito</mat-label>
        <input
          matInput
          type="number"
          placeholder="montoCredito"
          class="phone_number"
          [(ngModel)]="montoCredito"
        />
      </mat-form-field>
    </div>



    <div class="buttons">
      <button mat-stroked-button color="warn" (click)="onSend()" id="aplicar_cliente">Aplicar Cambios</button>
      <button mat-stroked-button color="warn" (click)="goToListarClientesPage()" id="button_cancelar">Cancelar</button>
    </div>


    <!-- <ng-template [ngIf]="creado">
      <div class="message_create">Cliente creado con exito</div>
    </ng-template> -->
  </div>
</div>
