<div class="container">
  <h2 class="title" style="padding-left: 5%;">Pantallas</h2>
  <div class="container-child">
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarClientes($event) : null">Clientes</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarDetalleOperaciones($event) : null">Detalle Operaciones</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarDetallePedidos($event) : null">Detalle Pedidos</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarEmails($event) : null">Emails</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarEmpresas($event) : null">Empresas</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarGrupoAcceso($event) : null">Grupo Acceso</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarGrupoAccesoPermiso($event) : null">Grupo Acceso Permiso</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarLocalidades($event) : null">Localidades</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarPedidos($event) : null">Pedidos</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarProductos($event) : null">Productos</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarProvincias($event) : null">Provincias</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarTelefonos($event) : null">Telefonos</mat-checkbox>
    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcarVendedores($event) : null">Vendedores</mat-checkbox>



    <ng-template [ngIf]="creado">
      <div class="message_create">Pantalla asignada con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarUsuariosPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar">Asignar Pantalla</button>
  </div>
</div>
