<div class="tabla-completa">
  <div class="tw-ml-8 tw-flex tw-justify-between tw-items-center">
    <div>
      <h2 class="tw-text-1xl tw-font-light tw-leading-6">PEDIDOS</h2>
    </div>
    <div>
      <button class="tw-mx-1 custom-btn tw-text-base tw-tracking-{15px} tw-shadow-warn tw-text-succes hover:tw-bg-succes"
        id="agregar"
        (click)="goToPedidoCrearPage()">
          <div class="tw-flex tw-justify-center tw-items-center">
            <img class="tw-h-4 tw-w-4" src="assets/crear-icon.png" alt="" srcset="">
            <span class="tw-ml-2">Crear nuevo</span>
          </div>
      </button>
    </div>
  </div>
  <app-search-order-form (sendSearch)="test($event)"></app-search-order-form>
  <div class="mat-elevation-z8" style="box-shadow: none;margin-left: 30px; margin-right: 10px;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="idPedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedido</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.idPedido ? row.idPedido : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaGraba">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.fechaGraba  ? (row.fechaGraba | date: 'dd/MM/YYYY') : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="representante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Representante</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.representante ? row.representante : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="num_interno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Interno</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.num_interno ? row.num_interno : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Condición</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.observaciones ? row.observaciones : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">{{ row.total ? row.total : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="acction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row" (click)="goToPrint(row.idPedido)">
          <button mat-icon-button (click)="goToEditPage(row.idPedido)" class="icon-button" matTooltip="Editar">
            <img class="icon" src="assets/modificar-icon.png"/>
          </button>
          <button mat-icon-button  class="icon-button" (click)="openDialog(row.idPedido)" matTooltip="Eliminar">
            <img class="icon" src="assets/eliminar-icon.png"/>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsDetallePedidos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDetallePedidos"></tr>
      <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No encontramos ningun detalle "</td>
      </tr>
    </table>
    <!-- <mat-paginator
      [pageSizeOptions]="[50, 75, 100]"
      aria-label="Mostrar por pagina"
    ></mat-paginator> -->
  </div>
</div>
