<div class="tabla-completa">
  <p class="titulo-abm" style="margin-left: 30px; margin-bottom: 10px;">Pedidos</p>
  <div class="container-descripcion">
    <p style="margin-left: 30px;">fringilla massa amet, Sed at viverra elit ex malesuada nibh Sed lacus, Praesent viverra id tincidunt turpis nisi Nunc viverra Nullam scelerisque nulla, lacus,

    </p>
    <button class="crear-button" (click)="goToPedidoCrearPage()">Crear nuevo</button>
  </div>
  <mat-form-field appearance="standard" class="filter-class" style="margin-left: 30px;">
    <mat-label class="label-search">Busqueda</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ej: Ariel"
      #input
      class="input-search"
      style="margin-right: 30px;"
    />
  </mat-form-field>
  <div class="mat-elevation-z8" style="box-shadow: none;margin-left: 30px; margin-right: 10px;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Columna -->
      <ng-container matColumnDef="idPedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.idPedido ? row.idPedido : '-' }}</td>
      </ng-container>

      <!-- ID Columna -->
      <ng-container matColumnDef="isAnulado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Anulado</th>
        <td mat-cell *matCellDef="let row">{{ row.isAnulado ? row.isAnulado : '-' }}</td>
      </ng-container>

      <!-- ID Columna -->
      <ng-container matColumnDef="isEnviadoxMail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Env. Email</th>
        <td mat-cell *matCellDef="let row">{{ row.isEnviadoxMail ? row.isEnviadoxMail : '-' }}</td>
      </ng-container>

      <!-- isCobrado Columna -->
      <ng-container matColumnDef="isCobrado">isCobrado
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cobrado</th>
        <td mat-cell *matCellDef="let row">{{ row.isCobrado ? row.isCobrado : '-' }}</td>
      </ng-container>

      <!-- isFinalizado Columna -->
      <ng-container matColumnDef="isFinalizado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Finalizado</th>
        <td mat-cell *matCellDef="let row">{{ row.isFinalizado ? row.isFinalizado : '-' }}</td>
      </ng-container>

      <!-- idCliente Columna -->
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let row">{{ row.idCliente ? row.idCliente : '-' }}</td>
      </ng-container>

      <!-- idVendedor Columna -->
      <ng-container matColumnDef="idVendedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor</th>
        <td mat-cell *matCellDef="let row">{{ row.idVendedor ? row.idVendedor : '-' }}</td>
      </ng-container>

      <!-- idTipoReglaComercial Columna -->
      <ng-container matColumnDef="idTipoReglaComercial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Regla Comerc.</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoReglaComercial ? row.idTipoReglaComercial : '-' }}</td>
      </ng-container>

      <!-- idAbono Columna -->
      <ng-container matColumnDef="idAbono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Abono</th>
        <td mat-cell *matCellDef="let row">{{ row.idAbono ? row.idAbono : '-' }}</td>
      </ng-container>

      <!-- idTipoCondicionesDeVenta Columna -->
      <ng-container matColumnDef="idTipoCondicionesDeVenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cond. de Venta</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoCondicionesDeVenta ? row.idTipoCondicionesDeVenta : '-' }}</td>
      </ng-container>

      <!-- fechaPedido Columna -->
      <ng-container matColumnDef="fechaPedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row">{{ row.fechaPedido ? row.fechaPedido : '-' }}</td>
      </ng-container>

      <!-- porcDescuentoGeneral Columna -->
      <ng-container matColumnDef="porcDescuentoGeneral">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>% Desc. General</th>
        <td mat-cell *matCellDef="let row">{{ row.porcDescuentoGeneral ? row.porcDescuentoGeneral : '-' }}</td>
      </ng-container>

      <!-- descripcion Columna -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>

      <!-- nroRemito Columna -->
      <ng-container matColumnDef="nroRemito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remito</th>
        <td mat-cell *matCellDef="let row">{{ row.nroRemito ? row.nroRemito : '-' }}</td>
      </ng-container>

      <!-- subtotal Columna -->
      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total</th>
        <td mat-cell *matCellDef="let row">{{ row.subtotal ? row.subtotal : '-' }}</td>
      </ng-container>

      <!-- impuestos Columna -->
      <ng-container matColumnDef="impuestos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Impuestos</th>
        <td mat-cell *matCellDef="let row">{{ row.impuestos ? row.impuestos : '-' }}</td>
      </ng-container>

      <!-- subtotal2 Columna -->
      <ng-container matColumnDef="subtotal2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total 2</th>
        <td mat-cell *matCellDef="let row">{{ row.subtotal2 ? row.subtotal2 : '-' }}</td>
      </ng-container>

      <!-- ivaInscriptoPorc Columna -->
      <ng-container matColumnDef="ivaInscriptoPorc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>% IVA Inscr.</th>
        <td mat-cell *matCellDef="let row">{{ row.ivaInscriptoPorc ? row.ivaInscriptoPorc : '-' }}</td>
      </ng-container>

      <!-- ivaInscripto Columna -->
      <ng-container matColumnDef="ivaInscripto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA Inscr.</th>
        <td mat-cell *matCellDef="let row">{{ row.ivaInscripto ? row.ivaInscripto : '-' }}</td>
      </ng-container>

      <!-- total Columna -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.total ? row.total : '-' }}</td>
      </ng-container>

      <!-- modificar Columna -->
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Modificar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="goToEditPage(row.idPedido)">
            <img
                  class="icon"
                  src="../../../../assets/modificar-icon.png"
                />
          </button>
        </td>
      </ng-container>

      <!-- eliminar Columna -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Eliminar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="openDialog(row.idPedido)">
            <img
                  class="icon"
                  src="../../../../assets/eliminar-icon.png"
                />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPedidos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPedidos"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No encontramos ningun pedido {{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[50, 75, 100]"
      aria-label="Mostrar por pagina"
    ></mat-paginator>
  </div>
</div>
