<div class="container">
  <h2 class="title" style="padding-left: 5%;">Nuevo Pedido</h2>
  <div class="container-child">


    <mat-form-field>
      <mat-label>ID Detalle Pedido</mat-label>
      <mat-select [(ngModel)]="idDetallePedido">
        <mat-option *ngFor="let pedido of detallePedidosLista" [value]="pedido.idDetallePedido">
          {{pedido.detalle}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Cantidad</mat-label>
      <input
        matInput
        type="number"
        placeholder="cantidad"
        class="phone_number"
        [(ngModel)]="cantidad"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Detalle</mat-label>
      <input matInput name="name" [(ngModel)]="detalle" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Porcentaje Descuento Item</mat-label>
      <input
        matInput
        type="number"
        placeholder="Porcentaje Descuento Item"
        class="phone_number"
        [(ngModel)]="porcDescuentoItem"precioUnitario
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Precio Unitario</mat-label>
      <input
        matInput
        type="number"
        placeholder="Precio Unitario"
        class="phone_number"
        [(ngModel)]="precioUnitario"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Importe</mat-label>
      <input
        matInput
        type="number"
        placeholder="importe"
        class="phone_number"
        [(ngModel)]="importe"
      />
    </mat-form-field>

    <ng-template [ngIf]="creado">
      <div class="message_create">Operacion creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarOperacionPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar">Crear Operacion</button>
  </div>
</div>

<img src="../../../../assets/demo_carga_crear.png" alt="" class="img-demo">
