<div class="container">
  <h2 class="title">Tipo Condiciones de Venta</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="descripcion" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Condicion de Venta actualizada con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoCondicionesPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()" id="aplicar">Editar Condicion de Venta</button>
  </div>
</div>
