<div class="tabla-completa">
  <p class="titulo-abm" style="margin-left: 30px; margin-bottom: 10px;">Reglas Comerciales</p>
  <div class="container-descripcion">
    <p style="margin-left: 30px;">fringilla massa amet, Sed at viverra elit ex malesuada nibh Sed lacus, Praesent viverra id tincidunt turpis nisi Nunc viverra Nullam scelerisque nulla, lacus,

    </p>
    <button class="crear-button" (click)="goToReglaCrearPage()">Crear nuevo</button>
  </div>
  <mat-form-field appearance="standard" class="filter-class" style="margin-left: 30px;">
    <mat-label class="label-search">Busqueda</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ej: Ariel"
      #input
      class="input-search"
      style="margin-right: 30px;"
    />
  </mat-form-field>
  <div class="mat-elevation-z8" style="box-shadow: none;margin-left: 30px; margin-right: 10px;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- idTipoReglaComercial Columna -->
      <ng-container matColumnDef="idTipoReglaComercial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idTipoReglaComercial</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoReglaComercial ? row.idTipoReglaComercial : '-' }}</td>
      </ng-container>

      <!-- Descripcion Columna -->
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.Descripcion ? row.Descripcion : '-' }}</td>
      </ng-container>

      <!-- modificar Columna -->
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Modificar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="goToEditPage(row.idTipoReglaComercial)">
            <img
            class="icon"
            src="../../../../assets/modificar-icon.png"
          />
          </button>
        </td>
      </ng-container>

      <!-- eliminar Columna -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Eliminar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="openDialog(row.idTipoReglaComercial)">
            <img
            class="icon"
            src="../../../../assets/eliminar-icon.png"
          />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsReglas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsReglas"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No encontramos ninguna regla comercial{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[25, 50, 75, 100]"
      aria-label="Mostrar por pagina"
    ></mat-paginator>
  </div>
</div>
