<div class="container">
  <h2 class="title" style="padding-left: 5%;">Usuarios</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label>Empresa</mat-label>
      <mat-select [(ngModel)]="idEmpresa" name="food">
        <mat-option *ngFor="let empresa of empresaLista" [value]="empresa.idEmpresa" style="font-family: 'Quicksand';">
          {{empresa.NickName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Grupo Acceso</mat-label>
      <mat-select [(ngModel)]="idGrupoAcceso" name="food">
        <mat-option *ngFor="let acceso of accesosLista" [value]="acceso.idGrupoAcceso" style="font-family: 'Quicksand';">
          {{acceso.Descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Nickname</mat-label>
      <input matInput name="name" [(ngModel)]="NickName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Contraseña</mat-label>
      <input matInput name="name" [(ngModel)]="Password" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Nombre y Apellido</mat-label>
      <input matInput name="name" [(ngModel)]="NombreApellido" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Codigo Interno</mat-label>
      <input matInput name="name" [(ngModel)]="CodInterno" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Email</mat-label>
      <input matInput name="name" [(ngModel)]="Email" />
    </mat-form-field>

    <mat-checkbox class="title" (click)="$event.stopPropagation()" style="margin-left: 5%;" (change)="$event ? marcar($event) : null">Usuario Administrador</mat-checkbox>

    <ng-template [ngIf]="creado">
      <div class="message_create">Usuario creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarUsuariosPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar">Crear Usuario</button>
  </div>
</div>
