<mat-toolbar class="mat-elevation-z8">
  <div class="masnutricion" (click)="goToHomePage()">
    <img src="../../../assets/logo.png" alt="" />
  </div>
  <p>{{ nickname }}</p>
  <button
    mat-stroked-button
    color="warn"
    style="text-align: center"
    (click)="logout()"
    class="button_logout"
  >
    SALIR
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="mat-elevation-z8"
    mode="side"
    opened
    [disableClose]="true"
  >


   <!-- <div class="buttons_core" (click)="goToPedidoListarPage()" *ngIf="isAdmin == '1' || isPedido == 1">
      <mat-panel-title>
        <button class="icon-button">
          <img class="icon" src="./../../../assets/pedidos_menu.png" />
        </button>
        Pedidos
      </mat-panel-title>
    </div>

  -->


    <!-- <div class="buttons_core" (click)="goToDetallePedidoListarPage()" *ngIf="isAdmin == '1' || isDetallePedido == 1">
      <mat-panel-title>
        <button class="icon-button">
          <img class="icon" src="./../../../assets/productos-icon.png" />
        </button>
        Detalle Pedidos
      </mat-panel-title>
    </div> -->



    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
      <mat-expansion-panel-header class="alineacion_icon_desplegable">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/pedidos_menu.png" />
          </button>
          Pedidos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="buttons_core" (click)="goToPedidosListarPage()" *ngIf="isAdmin == '1' || isDetalleOperacion == 1">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/productos-icon.png" />
          </button>
          Listado de pedidos
        </mat-panel-title>
      </div>
      <div class="buttons_core" (click)="goToPedidoCrearPage()" *ngIf="isAdmin == '1' || isDetalleOperacion == 1">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/productos-icon.png" />
          </button>
          Carga
        </mat-panel-title>
      </div>


      <div class="buttons_core" (click)="goToPedidoCrearPage()" *ngIf="isAdmin == '1' || isDetalleOperacion == 1">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/productos-icon.png" />
          </button>
          Seguimientos
        </mat-panel-title>
      </div>


      <div class="buttons_core" (click)="goToPedidoCrearPage()" *ngIf="isAdmin == '1' || isDetalleOperacion == 1">
        <mat-panel-title style="font-family: Quicksand; width: 100%;">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/productos-icon.png" />
          </button>
          Detalle Operaciones
        </mat-panel-title>
      </div>







      </mat-expansion-panel>
    </mat-accordion>



    <mat-accordion>
      <mat-expansion-panel
      class="mat-elevation-z0"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      >
      <mat-expansion-panel-header class="alineacion_icon_desplegable">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/empresas_menu.png" />
          </button>
          Empresas
        </mat-panel-title>
      </mat-expansion-panel-header>


      <div class="buttons_core" (click)="goToClienteListarPage()" *ngIf="isAdmin == '1' || isCliente == 1">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/clientes_menu.png" />
          </button>
          Clientes
        </mat-panel-title>
      </div>

      <div class="buttons_core" (click)="goToProductoListarPage()" *ngIf="isAdmin == '1' || isProducto == 1">
        <mat-panel-title style="font-family: Quicksand">
          <button class="icon-button">
            <img class="icon" src="./../../../assets/productos-icon.png" />
          </button>
          Productos
        </mat-panel-title>
      </div>


      <div class="buttons_core" (click)="goToEmailListarPage()" *ngIf="isAdmin == '1' || isEmail == 1">
        <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/canales-icon.png" />
            </button>
            Emails
          </mat-panel-title>
        </div>




        <div class="buttons_core" (click)="goToTelefonoListarPage()" *ngIf="isAdmin == '1' || isTelefono == 1">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/tel-icon.png" />
            </button>
            Telefonos
          </mat-panel-title>
        </div>


        <div class="buttons_core" (click)="goToVendedorListarPage()" *ngIf="isAdmin == '1' || isVendedor == 1">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/vendedores_menu.png" />
            </button>
            Vendedores
          </mat-panel-title>
        </div>








      </mat-expansion-panel>
    </mat-accordion>




    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        >
        <mat-expansion-panel-header class="alineacion_icon_desplegable">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/abmtipo_menu.png" />
            </button>
            Parámetros
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="buttons_core" (click)="goToCanalListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/canales-icon.png" />
            </button>
            Canales
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToTipoClienteListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/clientes_menu.png" />
            </button>
            Clientes
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToCondicionesListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/condiciones-icon.png" />
            </button>
            Condiciones
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToProvinciaListarPage()" *ngIf="isAdmin == '1' || isProvincia == 1">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/provincias_menu.png" />
            </button>
            Provincias
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToLocalidadListarPage()" *ngIf="isAdmin == '1' || isLocalidad == 1">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/localidades_menu.png" />
            </button>
            Localidades
          </mat-panel-title>
        </div>
        <div class="buttons_core" (click)="goToCategoriaListarPage()" *ngIf="isAdmin == '1' || isCategoria == 1">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/localidades_menu.png" />
            </button>
            Categoria
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToFamiliaListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/familia-icon.png" />
            </button>
            Familia
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToIVAListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/iva-icon.png" />
            </button>
            IVA
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToPermisoListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/permisos-icon.png" />
            </button>
            Permisos
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToProductosListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/productos-icon.png" />
            </button>
            Productos
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToReglaListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/reglas-icon.png" />
            </button>
            Reglas
          </mat-panel-title>
        </div>

        <div class="buttons_core" (click)="goToTipoTelefonoListarPage()">
          <mat-panel-title style="font-family: Quicksand">
            <button class="icon-button">
              <img class="icon" src="./../../../assets/tel-icon.png" />
            </button>
            Telefonos
          </mat-panel-title>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons_core" (click)="goToUsuarioListarPage()" *ngIf="isAdmin == '1'">
      <mat-panel-title>
        <button class="icon-button">
          <img class="icon" src="./../../../assets/familia-icon.png" />
        </button>
        Usuarios
      </mat-panel-title>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
