<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    (click)="onToggleSidenav()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class="dyg">
    <p>Mas Nutricion Pedidos</p>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8" mode="over">
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>home</mat-icon>
              Canal</mat-panel-title
            >
          </mat-expansion-panel-header>
          <button mat-button class="menu-button" (click)="goToCanalListarPage()">
            <mat-icon>perm_identity</mat-icon>
            <span>Listar</span>
          </button>
          <button mat-button class="menu-button" (click)="goToCanalCrearPage()">
            <mat-icon>perm_identity</mat-icon>
            <span>Crear</span>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </button>
    <button mat-button class="menu-button" (click)="goToClientePage()">
      <mat-icon>perm_identity</mat-icon>
      <span>Cliente</span>
    </button>
    <button mat-button class="menu-button" (click)="goToTelefonoPage()">
      <mat-icon>store</mat-icon>
      <span>Telefono</span>
    </button>
    <button mat-button class="menu-button" (click)="goToCondicionesPage()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Condiciones de Venta</span>
    </button>
    <button mat-button class="menu-button" (click)="goToFamiliaPage()">
      <mat-icon>supervisor_account</mat-icon>
      <span>Familia Producto</span>
    </button>
    <button mat-button class="menu-button" (click)="goToIvaPage()">
      <mat-icon>view_list</mat-icon>
      <span>IVA</span>
    </button>
    <button mat-button class="menu-button" (click)="goToPermisoPage()">
      <mat-icon>view_list</mat-icon>
      <span>Permiso</span>
    </button>
    <button mat-button class="menu-button" (click)="goToProductosPage()">
      <mat-icon>view_list</mat-icon>
      <span>Productos</span>
    </button>
    <button mat-button class="menu-button" (click)="goToReglaComercialPage()">
      <mat-icon>view_list</mat-icon>
      <span>Regla Comercial</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
