.mat-elevation-z8{
  background-color: #FDFDFD;
}
mat-toolbar {
    background: #ffffff;
    color: white;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    .dyg{
      display: flex;
      position: absolute;
      left: 2.73%;
      align-items: center;
      width: 145px;
      height: 59px;
    }
    button{
      position: absolute;
      left: 73.43%;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(255, 23, 31, 0.2), 0px 2px 4px rgba(54, 123, 245, 0.24);
    }
    p{
      position: absolute;
      left: 82.5%;
      color: #000;
      font-family: Quicksand;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.15000000596046448px;
      text-align: right;

    }
  }

  mat-panel-title{
    font-size: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .buttons_core{
    padding: 10px 0 10px 10%;
  }
  .buttons_core:hover{
    background-color: #FFC700 !important;
    border-radius: 10px;
  }

  .buttons_core button:hover{
    background-color: #FFC700 !important;
    border-radius: 10px;
  }

  mat-expansion-panel-header:hover{
    background-color: #FFC700 !important;
    border-radius: 10px;
  }

  mat-expansion-panel-header button:hover{
    background-color: #FFC700 !important;
    border-radius: 10px;
  }

  mat-sidenav {
    margin: 16px;
    width: 300px;
    border-right: none;
    background: #fff;
    color: white;
    border-radius: 21px;
    padding: 16px;
    text-align: center;
    margin-right: 40px;
    box-shadow: 0px 4px 10px rgba(55, 55, 55, 0.25);
  }


  .dyg button{
    align-self: center;
    justify-self: center;
  }

  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
  }

  mat-sidenav-container {
    height: calc(100vh - 65px);
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
      margin-right: 8px;
    }
  }

  .avatar {
    margin-top: 16px;
    width: 150px;
    height: 125px;
    object-fit: fill;
    border-radius: 10px;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }

  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }


  .example-card {
    // display: flex;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: 8px;
    // border: 2px solid #000;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    gap: 1em;
    background-color: #FDFDFD;
    padding: 1em 0;
  }

  .example-card a {
    color: #fff;
    text-decoration: none;
  }



  #table {
    width: max-content;
  }

  .container_create {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .container_create mat-form-field {
    height: 100px;
  }
  mat-toolbar img{
      width: 100%;
      //max-width: 60px;
      height: 50px;
      display: block;
      margin-left: auto;
      margin-right: 10px;
      padding-top: 5px;
  }

  mat-expansion-panel{
    width: 100%;
    background-color: #fff;
    color: black;
  }
  mat-accordion{
    width: 100%;
    background-color: #fff;
    color: black;
  }

  mat-panel-title{
    color: black;
    padding: 5px;
  }


  .icon-button{
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }

  .icon-button .icon {
    width: 18px;
    padding-right: 10px;
  }
