<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    (click)="onToggleSidenav()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class="dyg">
    <p>Mas Nutricion Pedidos</p>
  </div>
  <!-- <mat-icon>exit_to_app</mat-icon> -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8" mode="over">
    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px">home</mat-icon>
            Canales</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button mat-button class="menu-button" (click)="goToCanalListarPage()">
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button mat-button class="menu-button" (click)="goToCanalCrearPage()">
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px">perm_identity</mat-icon>
            Clientes</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button
          mat-button
          class="menu-button"
          (click)="goToClienteListarPage()"
        >
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button mat-button class="menu-button" (click)="goToClienteCrearPage()">
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px">library_books</mat-icon>
            Condiciones</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button
          mat-button
          class="menu-button"
          (click)="goToCondicionesListarPage()"
        >
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button
          mat-button
          class="menu-button"
          (click)="goToCondicionesCrearPage()"
        >
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>



    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px">supervisor_account</mat-icon>
            Familia Producto</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button
          mat-button
          class="menu-button"
          (click)="goToFamiliaListarPage()"
        >
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button
          mat-button
          class="menu-button"
          (click)="goToFamiliaCrearPage()"
        >
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px"> attach_money</mat-icon>
            IVA</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button
          mat-button
          class="menu-button"
          (click)="goToIVAListarPage()"
        >
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button
          mat-button
          class="menu-button"
          (click)="goToIVACrearPage()"
        >
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>



    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #fff; padding: 5px">
            <mat-icon style="padding-right: 25px"> library_books</mat-icon>
            Permisos</mat-panel-title
          >
        </mat-expansion-panel-header>
        <button
          mat-button
          class="menu-button"
          (click)="goToPermisoListarPage()"
        >
          <mat-icon> format_list_bulleted</mat-icon>
          <span>Listar</span>
        </button>
        <button
          mat-button
          class="menu-button"
          (click)="goToPermisoCrearPage()"
        >
          <mat-icon>add</mat-icon>
          <span>Crear</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>




  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
