<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Regla Comercial</c-card-header>
      <c-card-body>
        <table bordered cTable>
          <thead>
            <tr>
              <th scope="col">idTipoReglaComercial</th>
              <th scope="col">Descripcion</th>
              <th scope="col">fechaGraba</th>
              <th scope="col">usuarioGraba</th>
              <th scope="col">fechaModifica</th>
              <th scope="col">usuarioModifica</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td cIcon name="cil-pencil" size="sm"></td>
              <td cIcon name="cil-trash" size="sm"></td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
