<div>
  <div>Nuevo pedido</div>
  <div>cancelar</div>
  <div>

    <button
      mat-raised-button
      color="warn"
      id="agregar"
      (click)="onSend()"
    >
     Guardar
    </button>

  </div>
</div>


<div class="first-grid">
  <p>Pedido Nº</p>
  <div class="two">
    <mat-form-field>
      <mat-label class="title">num_interno</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="num_interno"/>
    </mat-form-field>
  </div>
  <div class="three">
    <mat-form-field>
      <mat-label class="title">representante</mat-label>
      <input matInput name="name" autofocus  [(ngModel)]="representante"/>
    </mat-form-field>
  </div>
  <div class="four">
    <mat-form-field>
      <mat-label class="title">codigo</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="codigo"/>
    </mat-form-field>
  </div>
  <div class="five">
    <mat-form-field>
      <mat-label class="title">cuit</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="cuit"/>
    </mat-form-field>
  </div>
  <div class="six">
    <mat-form-field>
      <mat-label class="title">domicilio</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="domicilio"/>
    </mat-form-field>
  </div>
  <div class="seven">
    <mat-form-field>
      <mat-label class="title">telefono</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="telefono" />
    </mat-form-field>
  </div>
  <div class="eigth">
    <mat-form-field>
      <mat-label class="title">transporte</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="transporte" />
    </mat-form-field>
  </div>
  <div class="nine">
    <mat-form-field>
      <mat-label class="title">observaciones</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="observaciones" />
    </mat-form-field>
  </div>
</div>










<div class="second-grid">



  <div class="two">
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="categoria">
          <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.idCategoriaProducto">
            {{categoria.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="three">
    <mat-form-field>
      <mat-label>Producto</mat-label>
      <mat-select [(ngModel)]="idProducto">
        <mat-option *ngFor="let producto of listaProductos" [value]="producto.id_producto">
          {{producto.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="four">
    <mat-form-field>
      <mat-label class="title">cantidad</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="cantidad"/>
    </mat-form-field>
  </div>
  <div class="five">
    <mat-form-field>
      <mat-label class="title">condicion</mat-label>
      <input matInput name="name" autofocus [(ngModel)]="condicion"/>
    </mat-form-field>
  </div>
  <div class="six">
    <button
      mat-raised-button
      color="warn"
      id="agregar"
      (click)="agregarElemento()"
    >
      Agregar Producto
    </button>
  </div>
</div>
<div class="tabla-completa">
  <div class="mat-elevation-z8" style="box-shadow: none;margin-left: 30px; margin-right: 10px;">
    <table mat-table [dataSource]="dataSourceProductoPedido" matSort>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo ? row.codigo : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion ? row.descripcion : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let row">{{ row.precioReferencia ? row.precioReferencia : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let row">{{ row.cantidad ? row.cantidad : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="unidades_bulto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidades Fijas Pallet</th>
        <td mat-cell *matCellDef="let row">{{ row.unidadesFijasPallet ? row.unidadesFijasPallet : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="pallets">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>% Relación Pallet</th>
        <td mat-cell *matCellDef="let row">{{ row.porcRelacionPallet ? row.porcRelacionPallet : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="condicion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Condición</th>
        <td mat-cell *matCellDef="let row">{{ row.condicion ? row.condicion : '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.total ? row.total : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Modificar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="goToEditPage(row.codigo)" class="icon-button">
              <img
                class="icon"
                src="../../../../assets/modificar-icon.png"
              />
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Eliminar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button  class="icon-button" (click)="eliminarElemento(row)">
              <img
                  class="icon"
                  src="../../../../assets/eliminar-icon.png"
                />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsProductoPedido"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsProductoPedido"></tr>
    </table>
  </div>
</div>
