<div class="container">
  <h2 class="title">Tipo Permiso</h2>
  <div class="container-child">
    <img src="" alt="" />
    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="Descripcion" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">Permiso creado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoPermisoPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onSend()" id="aplicar">Crear Permiso</button>
  </div>
</div>
