<div class="tabla-completa">
  <p class="titulo-abm" style="margin-left: 30px; margin-bottom: 10px;">Clientes</p>
  <div class="container-descripcion">
    <p style="margin-left: 30px;">fringilla massa amet, Sed at viverra elit ex malesuada nibh Sed lacus, Praesent viverra id tincidunt turpis nisi Nunc viverra Nullam scelerisque nulla, lacus,

    </p>
    <button class="crear-button" (click)="goToClienteCrearPage()">Crear nuevo</button>
  </div>
  <mat-form-field appearance="standard" class="filter-class" style="margin-left: 30px;">
    <mat-label class="label-search">Busqueda</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ej: Ariel"
      #input
      class="input-search"
      style="margin-right: 30px;"
    />
  </mat-form-field>
  <div class="mat-elevation-z8" style="box-shadow: none;margin-left: 30px; margin-right: 10px;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Columna -->
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idCliente</th>
        <td mat-cell *matCellDef="let row">{{ row.idCliente ? row.idCliente : '-' }}</td>
      </ng-container>

      <!-- ID Columna -->
      <ng-container matColumnDef="idTipoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idTipoCliente</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoCliente ? row.idTipoCliente : '-' }}</td>
      </ng-container>

      <!-- ID Columna -->
      <ng-container matColumnDef="idTipoCanal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idTipoCanal</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoCanal ? row.idTipoCanal : '-' }}</td>
      </ng-container>

      <!-- razonSocial Columna -->
      <ng-container matColumnDef="razonSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>razonSocial</th>
        <td mat-cell *matCellDef="let row">{{ row.razonSocial ? row.razonSocial : '-' }}</td>
      </ng-container>

      <!-- nombreFantasia Columna -->
      <ng-container matColumnDef="nombreFantasia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nombreFantasia</th>
        <td mat-cell *matCellDef="let row">{{ row.nombreFantasia ? row.nombreFantasia : '-' }}</td>
      </ng-container>

      <!-- idTipoIVA Columna -->
      <ng-container matColumnDef="idTipoIVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idTipoIVA</th>
        <td mat-cell *matCellDef="let row">{{ row.idTipoIVA ? row.idTipoIVA : '-' }}</td>
      </ng-container>

      <!-- CUIT Columna -->
      <ng-container matColumnDef="CUIT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CUIT</th>
        <td mat-cell *matCellDef="let row">{{ row.CUIT ? row.CUIT : '-' }}</td>
      </ng-container>

      <!-- fechaAlta Columna -->
      <ng-container matColumnDef="fechaAlta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaAlta</th>
        <td mat-cell *matCellDef="let row">{{ row.fechaAlta ? row.fechaAlta : '-' }}</td>
      </ng-container>

      <!-- score Columna -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>score</th>
        <td mat-cell *matCellDef="let row">{{ row.score ? row.score : '-' }}</td>
      </ng-container>

      <!-- aniosActividad Columna -->
      <ng-container matColumnDef="aniosActividad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>aniosActividad</th>
        <td mat-cell *matCellDef="let row">{{ row.aniosActividad ? row.aniosActividad : '-' }}</td>
      </ng-container>

      <!-- montoCredito Columna -->
      <ng-container matColumnDef="montoCredito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>montoCredito</th>
        <td mat-cell *matCellDef="let row">{{ row.montoCredito ? row.montoCredito : '-' }}</td>
      </ng-container>

      <!-- idVendedorAsignado Columna -->
      <ng-container matColumnDef="idVendedorAsignado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idVendedorAsignado</th>
        <td mat-cell *matCellDef="let row">{{ row.idVendedorAsignado ? row.idVendedorAsignado : '-' }}</td>
      </ng-container>

      <!-- calle Columna -->
      <ng-container matColumnDef="calle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>calle</th>
        <td mat-cell *matCellDef="let row">{{ row.calle ? row.calle : '-' }}</td>
      </ng-container>

      <!-- calle1 Columna -->
      <ng-container matColumnDef="calle1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>calle1</th>
        <td mat-cell *matCellDef="let row">{{ row.calle1 ? row.calle1 : '-' }}</td>
      </ng-container>

      <!-- calle2 Columna -->
      <ng-container matColumnDef="calle2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>calle2</th>
        <td mat-cell *matCellDef="let row">{{ row.calle2 ? row.calle2 : '-' }}</td>
      </ng-container>

      <!-- nroPuerta Columna -->
      <ng-container matColumnDef="nroPuerta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nroPuerta</th>
        <td mat-cell *matCellDef="let row">{{ row.nroPuerta ? row.nroPuerta : '-' }}</td>
      </ng-container>

      <!-- piso Columna -->
      <ng-container matColumnDef="piso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>piso</th>
        <td mat-cell *matCellDef="let row">{{ row.piso ? row.piso : '-' }}</td>
      </ng-container>

      <!-- dpto Columna -->
      <ng-container matColumnDef="dpto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>dpto</th>
        <td mat-cell *matCellDef="let row">{{ row.dpto ? row.dpto : '-' }}</td>
      </ng-container>

      <!-- idLocalidad Columna -->
      <ng-container matColumnDef="idLocalidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idLocalidad</th>
        <td mat-cell *matCellDef="let row">{{ row.idLocalidad ? row.idLocalidad : '-' }}</td>
      </ng-container>

      <!-- idProvincia Columna -->
      <ng-container matColumnDef="idProvincia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idProvincia</th>
        <td mat-cell *matCellDef="let row">{{ row.idProvincia ? row.idProvincia : '-' }}</td>
      </ng-container>

      <!-- CP Columna -->
      <ng-container matColumnDef="CP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CP</th>
        <td mat-cell *matCellDef="let row">{{ row.CP ? row.CP : '-' }}</td>
      </ng-container>

      <!-- horarioAtencion Columna -->
      <ng-container matColumnDef="horarioAtencion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>horarioAtencion</th>
        <td mat-cell *matCellDef="let row">{{ row.horarioAtencion ? row.horarioAtencion : '-' }}</td>
      </ng-container>

      <!-- horarioCobranza Columna -->
      <ng-container matColumnDef="horarioCobranza">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>horarioCobranza</th>
        <td mat-cell *matCellDef="let row">{{ row.horarioCobranza ? row.horarioCobranza : '-' }}</td>
      </ng-container>

      <!-- isBorrado Columna -->
      <ng-container matColumnDef="isBorrado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>isBorrado</th>
        <td mat-cell *matCellDef="let row">{{ row.isBorrado ? row.isBorrado : '-' }}</td>
      </ng-container>

      <!-- web Columna -->
      <ng-container matColumnDef="web">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>web</th>
        <td mat-cell *matCellDef="let row">{{ row.web ? row.web : '-' }}</td>
      </ng-container>


      <!-- modificar Columna -->
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Modificar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="goToEditPage(row.idCliente)"  class="icon-button">
              <img
                class="icon"
                src="../../../../assets/modificar-icon.png"
              />
          </button>
        </td>
      </ng-container>

      <!-- eliminar Columna -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="opciones">Eliminar</th>
        <td mat-cell *matCellDef="let row" class="opciones">
          <button mat-icon-button (click)="openDialog(row.idTipoCanal)"  class="icon-button">
            <img
                class="icon"
                src="../../../../assets/eliminar-icon.png"
              />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsClientes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsClientes"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No encontramos ningun cliente{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[50, 75, 100]"
      aria-label="Mostrar por pagina"
    ></mat-paginator>
  </div>
</div>
