<div class="container">
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripcion</mat-label>
      <input matInput name="name" [(ngModel)]="Descripcion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="title">Descripcion Breve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>
    
    <button mat-raised-button color="warn" (click)="onEdit()">Editar IVA</button>

    <ng-template [ngIf]="creado">
      <div class="message_create">IVA actualizado con exito</div>
    </ng-template>
  </div>
</div>
