<div class="container">
  <h2 class="title">Tipo IVA</h2>
  <div class="container-child">
    <mat-form-field>
      <mat-label class="title">Descripción</mat-label>
      <input matInput name="name" [(ngModel)]="Descripcion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="title">Descripción Breve</mat-label>
      <input matInput name="name" [(ngModel)]="DescBreve" />
    </mat-form-field>


    <ng-template [ngIf]="creado">
      <div class="message_create">IVA actualizado con exito</div>
    </ng-template>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="goToListarTipoIVAPage()" id="button_cancelar">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onEdit()" id="aplicar">Editar IVA</button>
  </div>
</div>
